<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920723412675-7h50jq3jr0a6v3pt17nk6ta790qklk18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920723412675-7h50jq3jr0a6v3pt17nk6ta790qklk18</string>
	<key>API_KEY</key>
	<string>AIzaSyDdrXbMyrao71cORwoCe1I833cKKhlp4kg</string>
	<key>GCM_SENDER_ID</key>
	<string>920723412675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KabCo.ESBreview2-0</string>
	<key>PROJECT_ID</key>
	<string>esbreview-2-0</string>
	<key>STORAGE_BUCKET</key>
	<string>esbreview-2-0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920723412675:ios:9c527ceb9cda3874e5b476</string>
</dict>
</plist>